X402_NETWORK=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com
PHOEBE_SOL_KEY=
X402_FACILITATOR_URL=https://x402.org/facilitator
PHOEBE_TREASURY_ADDRESS=
PHANTOM_TREASURY_WALLET=HmW2bQeLpJv3FJrSBV1jeyra2oof5rq6uBkB1cSLnSAK
PORT=8402